nav.green.darken-4
  .container
    .nav-wrapper
      a.brand-logo.center(href='/') Meteor Wars
      ul#nav-mobile.left
        li
          +loginButtons


.container
  if currentUser
    +Template.dynamic template=main
    
    unless Template.subscriptionsReady
      +Loader
      
  else
    .row
      .col.m3
        p
      .col.s12.m6
        img.meteor-logo(src="/logos/meteor-logo.png")
        p Out of the Meteor.js hackathon came this great game. Have a lot of fun!
      .col.m12
        p
      .col.m2
        p
      .col.s12.m4
        .card.small
          .card-image
            img(src="/screenshots/01.png")
          .card-content
            p Experience a turn based strategy war simulator masterpiece! Crush your enemies with devastating arsenal and tactics!
      .col.s12.m4
        .card.small
          .card-image
            img(src="/screenshots/02.png")
          .card-content
            p Fully extensible, giving you the opertunity to create your own army! You want dragons? You make 'm.
      
