nav.green.darken-4
  .container
    .nav-wrapper
      a.brand-logo.center(href='/') Meteor Wars
      ul#nav-mobile.left.hide-on-med-and-down
        li
          +loginButtons


.container
  
  if currentUser
    +Template.dynamic template=main
  else
    p Please login first
