html
  height 100%

body
  background white
  height 100%

.meteor-logo
  max-width 100%
  margin 1em

.scoreboard
  padding 1em

.loader
  font-size 55px
  margin 2em
  text-align center
  color #ee6e73
