html
  height 100%

body
  background white
  height 100%

.meteor-logo
  max-width 100%
  margin 1em

.scoreboard
  padding 1em

.loader
  font-size 55px
  margin 2em
  text-align center
  color #ee6e73

.surrender
  .fa-flag
    color white

@keyframes explode
  from, to
    opacity 0
    transform rotate(-15deg) scale(1)

  5%
    opacity .1

  50%
    opacity 1
    transform rotate(-45deg) scale(1.3)

  80%
    opacity 0

.explosion
  color red
  position absolute
  z-index 100
  transition all .3
  animation explode .9s infinite
  margin 25px 23px

.turn-change-modal
  text-align center
  color white
  width 100%
  background-color rgba(0,0,0,0.3)
  text-transform uppercase
  box-shadow none

  h4
    font-size 55px

  .jeep
    display inline-block
    width 75px
    height 75px
    transform rotate(-145deg)

.scoreboard
  text-align center

  .fa-trophy
    color gold
    font-size 50px
    margin 20px

.winner-bar
  padding 10px
  border-radius 5px
  margin-bottom 1em
  h1
    font-size 40px
