gridSize = 80
greenBgColor = #B3D72F

@keyframes hangingout
  from, to
    transform rotate(0deg)

  33%
    transform rotate(-15deg)

  66%
    transform rotate(15deg)

.map-container
  overflow-x scroll
  overflow-y scroll
  background darken(greenBgColor, 10%)

.map
  position relative
  margin 10px auto
  background greenBgColor
  border-radius 5px

  .unit
    z-index 10
    position absolute
    width 78px
    height 78px
    border-radius 2px
    margin 1px
    padding 10px
    transition all .2s
    border 2px dashed transparent

    .image
      transition all .1s

    &.immutable
      z-index 1

    svg
      width 52px
      height 52px

    .infantry
      animation hangingout 5s infinite
      transform scale(0.9)

    &.object
      background black

    &.selected
      border-color blue

    &.targeted
      border-color red
      cursor crosshair

    .strength
      position absolute
      right 3px
      bottom -1px
      display inline-block
      border 1px solid #999
      border-radius 2px
      text-align center
      min-width 15px
      padding 0 1px
      font-size 10px
      background rgba(255,255,255,0.8)
      display none

    .health-bar
      position absolute
      left 20px
      bottom 1px
      border 1px solid black
      width 32px
      height 3px
      background rgba(255,0,0,0.5)
      border-radius 2px
      .inner
        height 1px
        background rgb(0,255,0)
        transition width .3s

    .corner-icons
      position absolute
      top 1px
      right 5px
      color red
      text-shadow 1px 1px 0 rgba(0,0,0,0.8), -1px -1px 0 rgba(0,0,0,0.8), -1px 1px 0 rgba(0,0,0,0.8), 1px -1px 0 rgba(0,0,0,0.8)
      .fa
        display inline-block

.grid-item
  z-index 5
  position relative
  display block
  float left
  width (gridSize)px
  height (gridSize)px

  &[data-x="0"]
    clear both

  &.path
    .overlay
      position absolute
      width inherit
      height inherit
      border-radius 5px
      background-color rgba(255,0,0,0.2)
      cursor s-resize
