gridSize = 80

@keyframes hangingout
  from, to
    transform rotate(0deg)

  33%
    transform rotate(-15deg)

  66%
    transform rotate(15deg)

.map
  position relative
  margin 0 auto 2em

  .unit
    position absolute
    width 72px
    height 72px
    border-radius 70px
    margin 4px
    padding 6px
    transition all .2s
    border 2px solid transparent

    svg
      width 55px
      height 55px

    .infantry
      animation hangingout 5s infinite

    &.object
      background black

    &.selected
      border-color blue

    &.targeted
      border-color orange
      cursor crosshair

    &.moved
      opacity 0.6

    .strength
      position absolute
      right 0
      bottom -10px
      display inline-block
      border 1px solid #999
      border-radius 2px
      text-align center
      min-width 15px
      padding 0 1px
      font-size 10px
      background rgba(255,255,255,0.8)

.grid-item
  position relative
  display block
  float left
  width (gridSize)px
  height (gridSize)px
  background url('/img/grass.png')
  background-size 112%

  &[data-x="0"]
    clear both

  &.path
    .overlay
      position absolute
      width inherit
      height inherit
      border-radius 5px
      background-color rgba(255,0,0,0.2)
      cursor s-resize
