h2 Game settings

with round
  h4 Players
  +PlayerList players=findPlayers
  unless hasStarted
    if canJoin
      button.btn.join-game Join game
    if canStart
      each map
        p
          button.btn.start-game Start a {{name}} map game
    else
      if countPlayers
        p Waiting for #{hostName} to start the game...
  else
    button.btn.go-to-game Go to game
