.scoreboard
  .row
    .col.s12.m2.l3
      p
    .col.s12.m8.l6
      .card
        .card-image
          img(src="/img/cake.jpg")
        .card-content
          with winner
            p {{name}} has won!
        .card-action
          a(href="/") Play another game!
