.container
  with round
    .btn.add-unit Add unit
    .btn.next-turn Next turn
  .map
    each grid
      each this
        .grid-item(class=gridClass, data-x=x, data-y=y)
          
    each units
      +Unit
