with game
  h1= name
  
  +RoundCreateForm
  
  .row
    .col.s4
      h4 Pending games
      +RoundList rounds=pendingRounds
    .col.s4
      h4 Active games
      +RoundList rounds=activeRounds
    .col.s4
      h4 Finished games
      +RoundList rounds=finishedRounds
