h1 Game overview

with game
  h4 There are #{countPlayers} players playing this game
  +RoundCreateForm
  
  h4 Active games
  +RoundList rounds=activeRounds
  
  h4 Finished games
  +RoundList rounds=finishedRounds
